@media (max-width: 767px){/* small devices */
  .container {
    width: 750px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {/* medium devices */
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {/*large devices */
  .container {
    width: 1170px;
  }
}
